root = true

[*]
indent_style = space
indent_size = 2
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true

[{*.{sh,zsh,py,cfg},.zshenv,.zshrc}]
indent_size = 4

[Makefile]
indent_size = 4
indent_style = tab
